<form class="form-signin" (ngSubmit)="login()">
  <h2 class="form-signin-heading">Please login</h2>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input [(ngModel)]="user.email" name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
  </div>
 <div class="form-group">
    <label for="inputPassword">Password</label>
    <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">
    Login
  </button>
  <!-- Future... -->
  <!-- <a class="btn btn-lg btn-info btn-block" [routerLink]="['Registration']">Sign up</a> -->
</form>

<!-- Test link -->
<a href="http://localhost:3000/oauth/authorize/?client_id=666487d55b3fdb7cd8a32c2a93cdad8213efe8e46ec8dad62a58c314c42a85c8&redirect_uri=http://127.0.0.1:4200/&response_type=code">
  Login
</a>
