<form class="form-signin" (ngSubmit)="login()">
  <h3 class="form-signin-heading">Please login</h3>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input [(ngModel)]="user.email" name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
  </div>
 <div class="form-group">
    <label for="inputPassword">Password</label>
    <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">
    Login
  </button>
  <a class="btn btn-lg btn-info btn-block" routerLink="/registration">Sign up</a>
</form>
