<div class="row">
  <form [formGroup]="registerForm" (ngSubmit)="registration()" class="form-signin col-md-offset-3 col-md-6">
    <!-- Title -->
    <h3 class="form-signin-heading">Please Sign up</h3>
    <!-- Email -->
    <div class="form-group" [ngClass]="{'has-error': !isValidCompletely('email')}">
      <label for="inputEmail" class="control-label">Email address</label>
      <input formControlName="email" type="email" 
        class="form-control" id="inputEmail" placeholder="Email">
        <div *ngIf="!isValid('email', 'required')" class="help-block">* Email is required!</div>
        <div *ngIf="!isValid('email', 'pattern')" class="help-block">* Email is not correct!</div>
    </div>
    <!-- First Name -->
    <div class="form-group" [ngClass]="{'has-error': !isValidCompletely('first_name')}">
      <label for="inputEmail" class="control-label">First Name</label>
      <input formControlName="first_name" type="text" 
        class="form-control" id="inputFirstName" placeholder="First Name">
        <div *ngIf="!isValid('first_name', 'required')" class="help-block">* First Name is required!</div>
    </div>
    <!-- Last Name -->
    <div class="form-group" [ngClass]="{'has-error': !isValidCompletely('last_name')}">
      <label for="inputEmail" class="control-label">Last Name</label>
      <input formControlName="last_name" type="text" 
        class="form-control" id="inputLastName" placeholder="Last Name">
        <div *ngIf="!isValid('last_name', 'required')" class="help-block">* Last Name is required!</div>
    </div>
    <!-- Password -->
    <div class="form-group" [ngClass]="{'has-error': !isValidCompletely('password')}">
      <label for="inputPassword" class="control-label">Password</label>
      <input formControlName="password" type="password"
        class="form-control" id="inputPassword" placeholder="Password">
      <div *ngIf="!isValid('password', 'required')" class="help-block">* Password is required!</div>
      <div *ngIf="!isValid('password', 'minlength')" class="help-block">* Minimum password length is 6!</div>
    </div>
    <!-- Password confirmation -->
    <div class="form-group" [ngClass]="{'has-error': !isValidCompletely('password_confirmation')}">
      <label for="inputPasswordConfirmation" class="control-label">Password confirmation</label>
      <input formControlName="password_confirmation" type="password"
        id="inputPasswordConfirmation" class="form-control" placeholder="Password Confirmation">
      <div *ngIf="!isValid('password_confirmation', 'required')" class="help-block">* Confirm Password is required!</div>
      <div *ngIf="!isValid('password_confirmation', 'notEquivalent')" class="help-block">* Passwords don't match!</div>
    </div>
    <!-- Actions -->
    <button [disabled]="!registerForm.valid" class="btn btn-primary" type="submit">Sign up</button>
    <a class="btn btn-info" routerLink='/login'>Login</a>
  </form>
</div>
