<!-- <div class="row">
  <form [formGroup]="registerForm" (ngSubmit)="registration()" class="form-signin" >
    Title
    <h2 class="form-signin-heading">Please Sign up</h2>
    Email
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input ngControl="email" id="inputEmail" name="email" type="email" class="form-control" placeholder="Email">
    </div>
    Password
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input ngControl="password" id="inputPassword" name="password" type="password" class="form-control" placeholder="Password">
    </div>
    Password confirmation
    <div class="form-group">
      <label for="inputPasswordConfirmation">Password confirmation</label>
      <input ngControl="password_confirmation" id="inputPasswordConfirmation" name="password_confirmation" type="password" class="form-control" placeholder="Password Confirmation">
    </div>
    Actions
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <a class="btn btn-lg btn-info btn-block" routerLink='/login'>Login</a>
  </form>
</div> -->
